@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    color: #333;
}

html {scroll-behavior: smooth;}
.main-page {display: flex;}

.main-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
    overflow-y: auto;
    position: relative;
    padding-top: 75px;
    transition: margin-left 0.3s, width 0.3s;
}
.main-content.full-width {
    margin-left: 80px;
    width: calc(100% - 80px);
}

header {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    z-index: 1100;
    background: #f0f2f5;
    color: #1e3c72;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
}
.header-left {
    display: flex;
    gap: 10px;
}
.header-title {
    margin-left: 10px;
    cursor: pointer;
}
header h1 {
    flex-shrink: 0;
    font-size: 2em;
    margin: 0;
    align-items: center;
}
header h5 {
    margin: 0;
}
.header-btn {
    display: flex;
    flex-shrink: 0;
    align-items: center;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-btn {
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #333;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    right: 0;
}
.dropdown-content button {
    background-color: #fff;
    padding: 12px 25px;
    width: 100%;
    border: none;
    text-align: left;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in;
}
.dropdown-content button i { margin-right: 8px; }
.dropdown-content button:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {
    display: flex;
    white-space: nowrap;
    flex-direction: column;
}
.logout-btn {color: #d9534f;}
#forgot-password input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 16px;
}
.add-btn, .update-btn, .delete-btn {
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    margin-left: 3px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.add-btn { background-color: #e0ebff; color: #4c6ea7; width: 150px; align-self: flex-end; }
.add-btn:hover { background-color: #ced8eb; }
.delete-btn, .status-cancel-btn {background-color: #f2e0e0; color: #d9534f;}
.delete-btn:hover, .status-cancel-btn:hover { background-color: #e8d3d3; }
.update-btn, .status-ok-btn { background-color: #e0e7f2; color: #1e3c72; }
.update-btn:hover, .status-ok-btn:hover { background-color: #d3dce8; }

.content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    padding: 40px 30px;
    margin: 20px 10px 20px 10px;
    justify-content: center;
}
#contact-content{
    margin-bottom: 150px;
}
.prevention-table, .references-table, .contacts-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    font-size: 1em;
    background: #fff;
    table-layout: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.prevention-table td, .references-table td, .contacts-table td {
    vertical-align: top;
    padding: 12px 10px;
    border: 1px solid #e0e0e0;
    word-wrap: break-word;
    text-align: center;
}
.table-wrapper textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    width: 100%;
    min-width: 50px;
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    resize: none;
    overflow: hidden;
    white-space: pre-wrap; /* wrap text */
}
.table-wrapper { padding: 10px; }

/* Modal */
.modal {
    position: fixed;
    display: none;
    z-index: 1102;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
}
.modal-content {
    min-width: 300px;
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    position: relative;
}
.modal h2 {
    margin-top: 0;
    text-align: center;
    color: #2c3e50;
}
#forgot-form, #status-modal-content, .add-button { text-align: center; }
.modal-content h2 { color: #1e3c72; }
#addPrevention textarea, #addReference input, #addContact input {
  width: 100%;
  min-height: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  margin-bottom: 10px;
  padding: 6px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
  overflow: hidden;
  white-space: pre-wrap;
}

.status-buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
}
.status-ok-btn, .status-cancel-btn, .reset-btn,
#addPrevention button, #addReference button, #addContact button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: small;
    margin-top: 20px;
    transition: all 0.3s ease-in;
}
.reset-btn, #addPrevention button, #addReference button, #addContact button { background-color: #e1f2e0 ; color: #178244; transition: all 0.3s ease-in; }
.reset-btn:hover, #addPrevention button:hover, #addReference button:hover, #addContact button:hover { background-color: #d3e8d3; }