@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    color: #333;
}

html {scroll-behavior: smooth;}
.main-page {display: flex;}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1105;
}
.loading-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    position: relative;
}
#loading h2 {color: #1e3c72;}
#loading p {color: #2c3e50;}
.spinner {
    border: 4px solid #f0f2f5;
    border-top: 4px solid #1e3c72;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    animation: spin 1s linear infinite;
    z-index: 1106;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#upload, #predictions, #cases, #cities, #prevention, #year, #contact {
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
    justify-content: flex-start;
    border-radius: 20px;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    padding: 40px 30px;
    margin: 20px 10px 20px 10px;
    box-sizing: border-box;
}
#predictions, #cities {min-height: 100vh;}

.main-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
    overflow-y: auto;
    position: relative;
    padding-top: 75px;
    transition: margin-left 0.3s, width 0.3s;
}
.main-content.full-width {
    margin-left: 80px;
    width: calc(100% - 80px);
}

header {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    z-index: 1100;
    background: #f0f2f5;
    color: #1e3c72;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
}
.header-left {
    display: flex;
    gap: 10px;
}
.header-title {
    margin-left: 10px;
    cursor: pointer;
}
header h1 {
    flex-shrink: 0;
    font-size: 2em;
    margin: 0;
    align-items: center;
}
header h5 {
    margin: 0;
}
.header-btn {
    display: flex;
    flex-shrink: 0;
    align-items: center;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-btn {
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #333;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    right: 0;
}
.dropdown-content button {
    background-color: #fff;
    padding: 12px 25px;
    width: 100%;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}
.dropdown-content button i {margin-right: 8px;}
.dropdown-content button:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {
    display: flex;
    white-space: nowrap;
    flex-direction: column;
}
.info-btn i {
    padding: 5px;
}
.logout-btn {color: #d9534f;}

#forgot-password input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 16px;
}
.reset-btn {
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    background-color: #2ecc71;
    color: white;
    display: block;
    margin: 10px auto 0 auto;
}

#upload button, #upload-modal button, #searchDataBtn, #downloadCsvBtn,
#open-download-modal, #download-table, #download-chart {
    background-color: #1e3c72;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
#upload button:hover, #upload-modal button:hover, #searchDataBtn:hover, #downloadCsvBtn:hover,
#deleteDataBtn:hover, #open-download-modal:hover, #download-table:hover, #download-chart:hover {
    background-color: #172e59;
}
#deleteDataBtn {
    background-color: #d9534f;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
#deleteDataBtn:hover { background-color: #c64c48; }

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100px;
    margin-top: 0px;
    margin-bottom: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    gap: 3px;
    font-size: small;
}
.filters label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.filters input[type="checkbox"] {
    margin: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

/* Modal */
.modal {
    position: fixed;
    display: none;
    z-index: 1102;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
}
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}
.modal h2 {
    margin-top: 0;
    text-align: center;
    color: #2c3e50;
}
.overlay {
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 1101;
}

#upload-modal input[type="number"],
#upload-modal input[type="file"],
#upload-modal select {
    background-color: #fff;
    width: 100%;
    padding: 10px 12px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    justify-self: center;
    box-sizing: border-box;
}
#showData-Modal .modal-content{
    height: 600px;
}
.showData-filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}
.filters-section, #barangay-select-section {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    align-items: center;
}
.showData-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    }
#deleteDataBtn:disabled, #downloadCsvBtn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.dataTable-container {
    display: none;
    max-height: 250px; 
    overflow-y: auto; 
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#dataTable {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}
#dataTable th, #dataTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
#dataTable th {
    background-color: #577cbd;
    color: white;
}
#dataTable tbody tr:nth-child(even) {background-color: #f9f9f9;}
.option-group, .button-group {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}
.option-group label {
    display: flex;
    white-space: nowrap;
    gap: 5px;
    cursor: pointer;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}
.search-spinner, .filters-spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #577cbd;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 1s linear infinite;
    margin: 0 auto 10px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
