@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    color: #333;
}

html {scroll-behavior: smooth;}
.main-page {display: flex;}

.main-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
    overflow-y: auto;
    position: relative;
    padding-top: 75px;
    transition: margin-left 0.3s, width 0.3s;
}
.main-content.full-width {
    margin-left: 80px;
    width: calc(100% - 80px);
}

header {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    z-index: 1100;
    background: #f0f2f5;
    color: #1e3c72;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
}
.header-left {
    display: flex;
    gap: 10px;
}
.header-title {
    margin-left: 50px;
    cursor: pointer;
}
header h1 {
    flex-shrink: 0;
    font-size: 2em;
    margin: 0;
    align-items: center;
}
header h5 {
    margin: 0;
}
.header-btn {
    display: flex;
    flex-shrink: 0;
    align-items: center;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-btn {
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #333;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    right: 0;
}
.dropdown-content button {
    background-color: #fff;
    padding: 12px 25px;
    width: 100%;
    border: none;
    text-align: left;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in;
}
.dropdown-content button i {margin-right: 8px;}
.dropdown-content button:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {
    display: flex;
    white-space: nowrap;
    flex-direction: column;
}

#signup input, #signup select, #forgot-password input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 16px;
}
.logout-btn {color: #d9534f;}
.content-section {
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    padding: 40px 30px;
    box-sizing: border-box;
}
#log-record { margin: 20px 10px 20px 10px; }
#user-management { margin: 20px 10px 100px 10px; }

.form-group {margin-bottom: 15px;}
.form-group #login-email, #login-password, #new-password {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px ;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    background-color: white;
}
.table{
    width: 100%;
    border-collapse: collapse;
    font-size: small;
}
.table-container {
    width: 100%;
    max-height: 300px;
    overflow-x: auto;
    overflow-y: auto;
    margin: 0 auto 18px auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.table th, .table td {
    padding: 12px 10px;
    white-space: nowrap;
    text-align: left;
}
.table th {
    width: 25%;
    position: sticky;
    top: 0;
    z-index: 2;
    background: #577cbd;
    color: white;
    font-weight: 700;
}
td.centered { text-align: center; }
.table tr:nth-child(even) {
    background: #f9f9f9;
}
button {
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 3px;
    cursor: pointer;
}
.toggle-btn { background-color: #577cbd; }
.toggle-btn:hover { background-color: #5274af; }
.delete-btn {
    color: #d9534f;
    background: transparent;
    font-size: 1em;
}
.delete-btn:hover { color: #c64c48; }
.switch {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.switch input { display: none; }
.switch label {
    cursor: pointer;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    display: block;
    transition: background-color 0.3s ease;
}
.switch label:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
}
.switch input:checked + label { background-color: #4caf50; }
.switch input:checked + label:before { transform: translateX(20px); }

/* Modal */
.modal {
    position: fixed;
    display: none;
    z-index: 1102;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
}
.modal-content {
    min-width: 300px;
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    position: relative;
}
.modal h2 {
    margin-top: 0;
    text-align: center;
    color: #2c3e50;
}
.modal, .modal-content h2 { text-align: center; }
.modal-content h2 { color: #1e3c72; }
#confirmDeleteBtn, #cancelDeleteBtn {
    color: white;
    width: 60px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: small;
    margin-top: 20px;
    transition: all 0.3s ease-in;
}
.modal-buttons, .status-buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
}
#confirmDeleteBtn, .status-ok-btn { background-color: #1e3c72; }
#cancelDeleteBtn, .status-cancel-btn { background-color: #d9534f; }
#confirmDeleteBtn:hover, .status-ok-btn:hover { background-color: #345490; }
#cancelDeleteBtn:hover, .status-cancel-btn:hover { background-color: #c64c48; }
.status-ok-btn, .status-cancel-btn, .signup-submit-btn, .reset-btn {
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: small;
    margin-top: 20px;
    transition: all 0.3s ease-in;
}
.signup-submit-btn, .reset-btn { background-color: #2ecc71; }
.signup-submit-btn:hover, .reset-btn:hover { background-color: #2ab664; }